<footer class="footer footer-horizontal footer-center bg-base-200 text-base-content rounded p-10">
    <nav>
        <div class="grid grid-flow-col gap-8">
            <a href="https://www.linkedin.com/in/simon-buchinger/" target="_blank" rel="noopener noreferrer">
                <fa-icon [icon]="faLinkedinIn" size="2x" />
            </a>
            <a href="https://github.com/simon-b64" target="_blank" rel="noopener noreferrer">
                <fa-icon [icon]="faGithub" size="2x" />
            </a>
        </div>
    </nav>
    <aside>
        <p>Copyright © 2025 - Alle Rechte vorbehalten von Simon Buchinger</p>
    </aside>
</footer>
