<nav>
    <div class="nav-settings">
        <span>EN</span>
    </div>
    <div class="nav-links">
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a routerLink="cv" routerLinkActive="active">CV</a>
        <a routerLink="blog" routerLinkActive="active">BLOG</a>
        <a href="https://github.com/simon-b64" routerLinkActive="active">PROJECTS</a>
        <a routerLink="contact" routerLinkActive="active">CONTACT</a>
    </div>
</nav>
