<nav>
    <div class="nav-settings">
        <button class="btn" (click)="switchLanguage()">{{ alternativeLanguage() }}</button>
    </div>
    <div class="nav-links">
        <a class="link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ 'nav.home' | translate }}</a>
        <a class="link" routerLink="cv" routerLinkActive="active">{{ 'nav.cv' | translate }}</a>
        <a class="link" routerLink="blog" routerLinkActive="active">{{ 'nav.blog' | translate }}</a>
        <a class="link" href="https://github.com/simon-b64" routerLinkActive="active">{{ 'nav.projects' | translate }}</a>
        <a class="link" routerLink="contact" routerLinkActive="active">{{ 'nav.contact' | translate }}</a>
    </div>
</nav>
