nav {
    width: 100%;
    height: 64px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-settings {
    display: flex;
    flex-direction: row;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
