.content {
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
}

.paragraph-container {
    flex: 2;
}

@media (max-width: 480px) {
    .content {
        flex-direction: column;
        align-items: stretch;
    }

    .logo-container {
        width: 100%;
        justify-content: center;
        align-self: center;
    }

    .paragraph-container {
        width: 100%;
    }
}
