<div class="content">
    <div class="logo-container">
        <app-logo [scale]="0.25" [strokeWidth]="10"/>
    </div>
    <div class="paragraph-container">
        <h1>Hi, I'm Simon!</h1>
        <p>I'm a self-taught software engineer currently balancing a professional part-time role while completing my
            Bachelor's degree in Computer Science. I love building web apps to improve the life of everybody.</p>
        <p>Check out my blog to read about what I've been up to lately or head over to GitHub to check out my latest
            projects. I'm always happy to collaborate!</p>
        <p>Are you a recruiter? You can view my CV in the top navbar.</p>
        <p>Want to chat? Feel free to reach out via the contact section.</p>
    </div>
</div>
