.page-container {
    width: 60vw;
    margin: auto;
}

@media (max-width: 768px) {
    .page-container {
        width: 90vw;
    }
}

@media (max-width: 480px) {
    .page-container {
        width: 100vw;
        margin: 0;
        padding: 0 8px;
    }
}
