/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Google Sans Code", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    background-color: #26262E;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;

    transition: color 0.1s ease-in-out;

    &.active {
        color: #8d65ff;
    }
}

a:hover {
    cursor: pointer;
    color: #8d65ff;
}

// Underline for links
a::after {
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background: #8d65ff;
    transition: 300ms;
}

a:hover::after {
    width: 100%;
}

button {
    font-family: inherit;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: inherit;

    border: solid 3px transparent;
    border-radius: 8px;
    background: none;
    color: inherit;

    cursor: pointer;

    transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out;
    padding: 4px 8px;

    &.disabled,
    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
        color: #9a99a3;
        border-color: transparent;
        pointer-events: none;
    }

    &:not(:disabled):not(.disabled):hover {
        color: #8d65ff;
        border-color: #8d65ff;
    }

}

input, textarea {
    font-family: inherit;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: inherit;

    border: solid 2px #55555F;
    border-radius: 8px;
    background: #1E1E24;
    color: inherit;

    padding: 8px;

    transition: border-color 0.1s ease-in-out;

    &:user-invalid {
        border-color: #FF5C5C;
    }
}

input:focus, input:hover, textarea:focus, textarea:hover {
    outline: none;
    border-color: #8d65ff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

